doctype html

html
  head
    meta(charset='UTF-8')
    title extendo-clip
    style.
      html, body {
        background-color: rgba(0,0,0,0)
      }
  body
    #root
    script(src='chrome-extension://lmhkpmbekcpmknklioeibfkpmmfibljd/js/inject.bundle.js')
    script(src=env == 'prod' ? '/js/app.bundle.js' : 'https://localhost:3000/js/app.bundle.js')
